.page-container {
    font-family: "Market Sans", Arial, sans-serif;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-items: center;
    // width: 775px;
    

    .header {
        display: block;
        margin-bottom: 19px;
        // overflow: hidden;
        width: 100%;
        max-width: 175px;
        min-width: 33px;
        height: 97px;

        a {
            img {
                width: 107px;
                position: absolute; 
                top: 4px;
                left: 5px;
            }        
        }
    }

    .welcome-container {
        display: flex;
        justify-content: center;

        .greeting {
            // text-align: center;
            // display: block;

            .heading {
                margin: 0 auto;
                // display: block;
                font-size: 36px;
                font-weight: 700;
                font-style: normal;
                font-stretch: normal;
                line-height: 36px;
                letter-spacing: normal;
                // text-align: left;
                padding-bottom: 8px;
                color:#151e27;

                
            }

            .sub-heading {
                font-size: 14px;
                font-weight: 400;

                a {
                    text-decoration: underline;
                    color: #006efc;
                }

                a:visited {
                    color: #6a29b9;
                }
            }
        }
    }

    .signin-container {
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 22px;
        

        .auth-form-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .form-group {
                    .label {
                        color: #6E6E6E;
                        display: block;
                        margin-top: 2px;
                    }
                    
                    input {
                        width: 282px;
                        border: none;
                        border-bottom: 1px solid #929292;
                        margin-top: 5px;
                        margin-bottom: 10px;
                    }
            }

            .signin-btn {
                color: #fff;
                background-color: #3665f3;
                border-color: #3665f3;
                font-size: 1.125rem;
                font-weight: 700;
                width: 300px;
                padding: 10px;
                margin-top: 22px;
            }

            .password-reset {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 16px;
                line-height: 22px;
                
                .password-reset-link-1 {
                    a {
                        text-decoration: none;
                        color: #006efc;
                        cursor: pointer;
                    }
                }
                .password-reset-link-2 {
                    margin-top: 8px;
                    a {
                        text-decoration: none;
                        color: #006efc;
                        cursor: pointer;
                    }
                }
            }
        }

        .signin-separator {
            

            .separator-top {
                // border-left: 1px solid #dddddd;
                border-left: 1px solid black;
                height: 123px;
                position: relative;
                left: 50%;
            }

            .or-seperator {
                text-align: center;
                font-size: 12px;
                width: 175px;
                position: relative;
                padding-top: 3px;
                padding-bottom: 3px;
            }

            .separator-bottom {
                // border-left: 1px solid #dddddd;
                border-left: 1px solid black;
                height: 119px;
                position: relative;
                left: 50%;
            }
        }

        .signin-buttons {
            display: flex;
            flex-direction: column;
            align-items: center;
            align-items: center;

            .fb-btn {
                background-color:#4267b2;
                border:#4267b2;
                color: white;
                font-size: 1.125rem;
                font-weight: 700;
                padding: 15px;
                padding-left: 40px;
                width: 300px;
                margin-top: 16px;
            }

            .google-btn {
                border: thin solid #888;
                background-color: #fff;
                color: #444;
                font-size: 1.125rem;
                font-weight: 700;
                padding: 15px;
                padding-left: 20px;
                width: 300px;
            }
        }

        .social-buttons-container {
            
            
            .fb-btn {
                background-color:#4267b2;
                border:#4267b2;
                color: white;
                padding: 15px;
                // padding-left: 20px;
                
                // &::before {

                //     background: url(https://ir.ebaystatic.com/rs/c/sgninui-src-static-images-FB-f-Logo__white_29-Nm8L0bDZ.png) 6px 6px no-repeat;
                
                // }
            }

            

            .google-btn {
                border: thin solid #888;
                background-color: #fff;
                color: #444;
                padding: 15px;
                // padding-left: 20px;

                background: url(https://ir.ebaystatic.com/rs/c/sgninui-src-static-images-google-logo-icon-PNG-Transparent-Background-Z_TFsqo3.png) no-repeat;
                
            }

        }

        
    }

    .stay-signed-in-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 24px;
        color:#151e27;
        padding-left: 8px;
        font-size: 14px;
        font-weight: 400;
        padding-bottom: 35px;

        .checkbox-container {

        }

        .privacy-text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 8px;
            font-size: 12px;

            a {
                color:#151e27;
            }
        }
    }

    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 11px !important;
        border-top: 1px solid #ccc;
        margin-top: 150px;
        padding: 40px 0;

        a {
            text-decoration: underline !important;
            color:#727272 !important;
            
        }

        img {
            padding-top: 3px;
        }
        
    }

    
    
    
}
















// .separator {
//     width: 100%;
//     max-width: 175px;
//     min-width: 33px;
// }


.animate {

    -webkit-animation: 1s slide-up;
    animation: 1s slide-up;

}

.separator {
    
}


