.page-container {
    font-family: "Market Sans", Arial, sans-serif;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-items: center;
    // width: 775px;
    

    .header {
        display: block;
        // margin-bottom: 8px;
        // overflow: hidden;
        width: 100%;
        max-width: 175px;
        min-width: 33px;
        height: 97px;

        a {
            img {
                width: 107px;
                position: absolute; 
                top: 4px;
                left: 5px;
            }        
        }
    }

    .welcome-container {
        display: flex;
        justify-content: center;

        .greeting {
            // text-align: center;
            // display: block;

            .heading {
                margin: 0 auto;
                // display: block;
                font-size: 36px;
                font-weight: 700;
                font-style: normal;
                font-stretch: normal;
                line-height: 36px;
                letter-spacing: normal;
                // text-align: left;
                padding-bottom: 8px;
                color:#151e27;

                
            }

            .sub-heading {
                font-size: 14px;
                font-weight: 400;

                a {
                    text-decoration: underline;
                    color: #006efc;
                }

                a:visited {
                    color: #6a29b9;
                }
            }
        }
    }

    .signin-container {
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        

        .auth-form-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .form-group {
                
                input {
                    width: 282px;
                }

                
            }

            .signin-btn {
                color: #fff;
                background-color: #3665f3;
                border-color: #3665f3;
                font-size: 1.125rem;
                font-weight: 700;
                width: 300px;
            }
        }

        .signin-separator {
            

            .separator {
                border-left: 1px solid #dddddd;
                height: 100px;
                position: relative;
                left: 50%;
            }

            .or-seperator {
                text-align: center;
                font-size: 12px;
                width: 175px;
                position: relative;
               
            }
        }

        .signin-buttons {
            display: flex;
            flex-direction: column;
            align-items: center;

            .fb-btn {
                background-color:#4267b2;
                border:#4267b2;
                color: white;
                font-size: 1.125rem;
                font-weight: 700;
                padding: 15px;
                padding-left: 40px;
                width: 300px;
                margin-top: 16px;
            }

            .google-btn {
                border: thin solid #888;
                background-color: #fff;
                color: #444;
                font-size: 1.125rem;
                font-weight: 700;
                padding: 15px;
                padding-left: 20px;
                width: 300px;
            }
        }

        .social-buttons-container {
            
            
            .fb-btn {
                background-color:#4267b2;
                border:#4267b2;
                color: white;
                padding: 15px;
                padding-left: 20px;
            }

            .google-btn {
                border: thin solid #888;
                background-color: #fff;
                color: #444;
                padding: 15px;
                padding-left: 20px;
            }

        }

        
    }

    .stay-signed-in-container {
        margin-top: 24px;
        color:
        #151e27;
        text-align: center;
    }

    .footer {
        display: flex;
        justify-content: center;
        text-decoration: none;
    }

    
    
    
}
















// .separator {
//     width: 100%;
//     max-width: 175px;
//     min-width: 33px;
// }


.animate {

    -webkit-animation: 1s slide-up;
    animation: 1s slide-up;

}

.separator {
    
}


